<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Booking Confirmation</title>
</head>
<body>
<p>Hello <span th:text="${reservation.user.firstName}">User Name</span>,</p>
<p>Your reservation for <span th:text="${reservation.date}">Date</span> has been confirmed.</p>
<p>Reservation details:</p>
<ul>
    <li>Number of people: <span th:text="${reservation.numberPeople}">Number of People</span></li>
    <li>Time: <span th:text="${reservation.slot.time}">Time Slot</span></li>
</ul>
<p>Thank you for choosing our service.</p>
</body>
</html>
